<div class="about">

	<h1>How <span class="logo">pykture</span> works</h1>

	<div class="signup">
		<h3>Sign up</h3>
		<%= image_tag "about/enter_username.png" %>
	</div>

	<div class="upload">
		<h3>Upload and choose a picture</h3>
		<%= image_tag "about/upload_button.png" %>
	</div>

	<div class="upload">
		<h3>Add a blurb and click start</h3>
		<%= image_tag "about/enter_blurb.png" %>
	</div>

	<div class="upload">
		<h3>Vote on pictures you see</h3>
		<%= image_tag "about/vote.png" %>
		<%= image_tag "about/vote2.png" %>
	</div>

</div>