<div class="row">
<div class="col-xs-4 col-xs-offset-2">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true, :class => "form-control", placeholder: "Username (required)" %></div>

  <div><%= f.label :email, "Email (optional)" %><br />
  <%= f.email_field :email, :class => "form-control", placeholder: "Email (optional)" %></div>

  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password (required)" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Password confirmation (required)" %></div><br>

  <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
<% end %>
</div>
</div>