<div class="row">
	<div class="col-md-6 col-md-offset-3 light_back">
			<h2>search results</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-4 light_back">
			<h4>users:</h4>
			<ul>
				<% @users.each do |user| %>
					<li><%= link_to user.name, user %></li>
				<% end %>
			</ul>	
	</div>
	<div class="col-md-4 col-md-offset-3 light_back">
			<h4>tags:</h4>
			<ul>
				<% @tags.each do |tag| %>
					<li><%= link_to tag.name, tag %></li>
				<% end %>	
			</ul>	
	</div>
</div>