<% if item != current_user %>
	<% if current_user.following?(item) %>
		<%= render 'shared/unfollow', :item => item %>
	<% else %>	
		<%= render 'shared/follow', :item => item %>
	<% end %>
<% end %>	


	