<%= render 'shared/picture_form' %>

<div class="top_wrap clearfix row container">
	
	<div class="user_show col-md-4">
		<h2><%= @user.username %></h2>
		
		<div id="follow">
			<%= render "follow_form", :item => @user if current_user %>
		</div>
	</div>

	<div class="col-md-3">
		<div class="follow">
			<div class="following">
				<p><%= @user.followers.count %> followers</p>
				<p><%= @user.following.count %> following</p>
			</div>
		</div>
	</div>

	<div class="sort_by col-md-3 col-md-offset-2">
		<ul>
			<li id="<%= @filter[0] == 'hot' ? 'selected' : '' %>">
				<%= link_to "hot", user_path(:filter => ["hot"]) %>
			</li>
			<li id="<%= @filter[0] == 'recent' ? 'selected' : '' %>">
				<%= link_to "recent", user_path(:filter => ["recent"]) %>
			</li>
		</ul>
	</div>

</div>

<div class="user">


	<div class="pictures">
	<% @pictures.each do |picture| %>
		<%= render 'pictures/picture', :picture => picture %>
	<% end %>
	</div>
</div>