<%= form_for(current_user.followed_items.build, :remote => true) do |f| %>
	<div><%= hidden_field_tag :followable_id, item.id %></div>
	<div><%= hidden_field_tag :followable_type, item.class.name %></div>
	<%= f.submit "follow", class: "btn btn-primary" %>
<% end %>	