<%= form_for(current_user.followed_items.find_by_followable_type_and_followable_id(item.class.name, item.id), html: { method: :delete}, remote: true) do |f| %>
	<div><%= hidden_field_tag :followable_id, item.id %></div>
	<div><%= hidden_field_tag :followable_type, item.class.name %></div>
	<%= f.submit "unfollow", class: "btn" %>
<% end %>	
