<div id='modalbak' onclick="modalhide()"></div>
<div id='modalwin'>
  <div id='modalmsg' class="row">
  	<div class="signup col-xs-5">
		<h2>Sign up</h2>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :username %><br />
		  <%= f.text_field :username, autofocus: true, :class => "form-control", placeholder: "Username (required)" %></div>

		  <div><%= f.label :email, "Email (optional)" %><br />
		  <%= f.email_field :email, :class => "form-control", placeholder: "Email (optional)" %></div>

		  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
		    <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password (required)" %></div>

		  <div><%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Password confirmation (required)" %></div><br>

		  <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
		<% end %>
  	</div>
  	<div class="signin col-xs-5 col-xs-offset-2">
		<h2>Sign in</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.label :username %><br />
		  <%= f.text_field :username, autofocus: true, :placeholder => "Username", :class => "form-control" %></div>

		  <div><%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
		<% end %>
  	</div>
  </div>
</div>