<%= render 'shared/picture_form' %>

<div class="top_wrap clearfix row container">

	<div class="tag_show col-md-4">
		<h2><%= @tag.name %></h2>

		<div id="follow">
			<%= render "follow_form", :item => @tag if current_user %>
		</div>
	</div>

	<div class="col-md-3">
		<div class="follow">
			<div class="following">
				<p><%= @tag.followers.count %> followers</p>
			</div>
		</div>
	</div>
		
	<div class="sort_by col-md-3 col-md-offset-2">
		<ul>
			<li id="<%= @filter[0] == 'hot' ? 'selected' : '' %>">
				<%= link_to "hot", tag_path(:filter => ["hot"]) %>
			</li>
			<li id="<%= @filter[0] == 'recent' ? 'selected' : '' %>">
				<%= link_to "recent", tag_path(:filter => ["recent"]) %>
			</li>
		</ul>
	</div>

</div>	

<div class="pictures">
	<% @pictures.each do |picture| %>
		<%= render 'pictures/picture', :picture => picture %>
	<% end %>
</div>