<div class="row">
<div class="col-xs-4 col-xs-offset-2">
<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true, :placeholder => "Username", :class => "form-control" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
<% end %>
</div>
</div>
