<ul>
	<li id="<%= view == 'all' ? 'selected' : '' %>">
		<%= link_to "all", root_path %>
	</li>
	<% if current_user %>
	<li id="<%= view == 'followed' ? 'selected' : '' %>">
		<%= link_to "followed", followed_index_path %>
	</li>
	<% end %>
</ul>