
<div class="single_picture" data-rel="groupA" id="picture_<%= picture.id %>">
	<a href="<%= picture.picture.url %>" id="full_size" alt='<%= with_links(picture) %>'><%= image_tag picture.picture.url(:small) %></a>
	<div class="pop" href="<%= picture.picture.url %>">
		<div class="row">
			<div class="voters pic_<%= picture.id %> col-md-3">
				<% if current_user %>
					<% if current_user.voted_on?(picture) == true %>
						<%= render 'pictures/upvote', :picture => picture %>
					<% elsif current_user.voted_on?(picture) == false %>	
						<%= render 'pictures/downvote', :picture => picture %>
					<% else %>
						<%= render 'pictures/novote', :picture => picture %>
					<% end %>
				<% else %>
					<i class="fa fa-arrow-up" onclick="modalshow()"></i>
					<i class="fa fa-arrow-down" onclick="modalshow()"></i>	
				<% end %>	

			</div>
			<div class="username info col-md-8">
				<p class="username">	
					<% if picture.user %>
						<%= link_to picture.user.username, user_path(picture.user.username) %>
					<% else %>
						[deleted]
					<% end %>		
				</p>
			</div>
		</div>

		<% unless picture.blurb.empty? %>
			<div class="row">
				<div class="title info">
					<p class="title">
						<%= with_links(picture) %>
					</p>	
				</div>
			</div>
		<% end %>	
		
		<% if current_user and current_user == picture.user %>
			<div class="row delete">
				<p>
					<%= link_to "delete", picture_path(picture), :method => :delete, class: "btn btn-danger btn-xs delete-confirm", :remote => true, data: { confirm: 'Delete?' } %>
				</p>
			</div>
		<% end %>
	</div>
</div>

