<!-- <div class="sort_wrap"> -->
<!-- <div class="sb_wrap"> -->
	<ul>
		<li id="<%= filter[0] == 'hot' ? 'selected' : '' %>">
			<%= link_to "hot", url_for(:action => "index", :filter => ["hot"]) %>
		</li>
		<li id="<%= filter[0] == 'recent' ? 'selected' : '' %>">
			<%= link_to "recent", url_for(:action => "index", :filter => ["recent"]) %>
		</li>
		<li id="<%= filter[0] == 'popular' ? 'selected' : '' %>">
			<%= link_to "most popular", url_for(:action => "index", :filter => ["popular","day"]) %>
		</li>
		<li id="<%= filter[0] == 'liked' ? 'selected' : '' %>">
			<%= link_to "most liked", url_for(:action => "index", :filter => ["liked","day"]) %>
		</li>
	</ul>
<!-- </div> -->
<!-- <div class="sb_wrap"> -->
	<% if filter[0] == "popular" || filter[0] == "liked" %>
		<ul class="date">
			<li id="<%= filter[1] == 'day' ? 'selected' : '' %>">
				<%= link_to "today", url_for(:action => "index", :filter => [filter[0], "day"]) %>
			</li>
			<li id="<%= filter[1] == 'hour' ? 'selected' : '' %>">
				<%= link_to "hour", url_for(:action => "index", :filter => [filter[0], "hour"]) %>
			</li>
			<li id="<%= filter[1] == 'month' ? 'selected' : '' %>">
				<%= link_to "month", url_for(:action => "index", :filter => [filter[0], "month"]) %>
			</li>
			<li id="<%= filter[1] == 'all' ? 'selected' : '' %>">
				<%= link_to "all time", url_for(:action => "index", :filter => [filter[0], "all"]) %>
			</li>
		</ul>
	<% end %>
<!-- </div>	 -->
<!-- </div> -->