<div class="col-md-4 col-md-offset-2">
	<h2>Users</h2>
	<div class="tag_cloud">
		<% tag_cloud User.top_five, %w[s sm m ml l] do |user, css_class| %>
			<%= link_to user.username, user_path(user), class: css_class %>
		<% end %>
	</div>
</div>
