<div class="col-md-4">
	<h2>Tags</h2>
	<div class="tag_cloud">
		<% tag_cloud Tag.top_five, %w[s sm m ml l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag), class: css_class %>
		<% end %>
	</div>
</div>

		