<%= link_to raw('<i class="fa fa-arrow-up selected"></i>'), votes_path(:vote => {:picture_id => picture.id, :up => 1}), :method => :post, :class => "upvote", remote: true %>
<%= link_to raw('<i class="fa fa-arrow-down"></i>'), votes_path(:vote => {:picture_id => picture.id, :up => 0}), :method => :post, :class => "downvote", remote: true %>