<%# if @picture.new_record? %>
	$('.picture_form').prepend("Upload failed. <%= j @picture.errors.full_messages.join(" ") %>")
<%# else %>
	$('.picture_form').prepend("Picture saved.")
<%# end %>

$('.picture_form').prepend('<%=  @picture %>')