<%= render 'shared/picture_form' %>

<div class="top_wrap row container">

	<div class="view_show col-md-2">
		<%= render "pictures/all_or_followed", :view => @view %>
	</div>

	<div class="col-md-5">
		<%= render "tag_cloud" if @view == "all" %>
		<%= render "followed/followed" if @view == "followed" %>
	</div>

	<div class="sort_by col-md-5">
		<%= render 'pictures/sort_by', :filter => params[:filter] %>
	</div>


</div>	

<% if @pictures.any? %>
	<div class="pictures">
		<% @pictures.each do |picture| %>
			<%= render 'pictures/picture', :picture => picture %>
		<% end %>
	<br><%= will_paginate @pictures %>
	</div>
<% elsif @view == "followed" %>	
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>You're not following any pages yet.</h2>
			<h3>People seem to like these pages.</h3>
		</div>
	</div>

	<div class="row">
		<%= render 'pictures/top_users' %>
		<%= render 'pictures/top_tags' %>
	</div>

<% end %>