/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.colorbox-example1
 *= require jquery.fileupload-ui
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*@font-face {
    font-family: "Exo-Black";
    src: url(/assets/fonts/exo/Exo-Black.otf) format("truetype");
}*/

@font-face {
  font-family: 'Exo-ThinItalic';    
  // No need any embeded Ruby code here
  src: asset-url('assets/Exo-ThinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo-Light';    
  // No need any embeded Ruby code here
  src: asset-url('assets/Exo-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.layer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: -52px; /* .push must be the same height as .footer */
}

body::before {
    content: "";
    position: fixed;
    height: 1000px;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: #333;
    /*background-image: url("http://vpnhotlist.com/wp-content/uploads/2014/03/image.jpg");*/
    /*background: url('/uploads/picture/picture/189/1397831153713.jpg') no-repeat center center fixed; */

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

body {
    /*position: fixed;*/
    /*left: 0;
    right: 0;
    z-index: 0;*/
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.layer {
    background-color: rgba(255,255,255,.5);
    margin-top: -20px;
    padding-bottom: 100px;
}

#upload_form {
    cursor: pointer;
}

.picture_form {
    background-color: rgba(248,248,248,.6);
    padding: 10px;
    border-radius: 3px;
    h3{
        margin-top: 0;
    }
}

/**********
******TOP
**********/

.user_show, .tag_show, .view_show {
    text-align: center;
    margin: 0;
    h2 {
        margin: 0;
    }
}

.top_wrap {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tag_cloud {
    display: inline-block;
    padding: 2px;
    max-width: 540px;
}
.tc_wrap {
    text-align: center;
}

.tag_cloud, .sort_by, .tag_show, .user_show, .follow, .view_show, .light_back {
    background-color: rgba(248,248,248,.7);
    font-family: 'Exo-Light';
    letter-spacing: 1.5px;
    color: rgba(25, 185, 207, 1);
    padding: 6px 10px;
    /*margin: 10px;*/
    border-radius: 3px;
    a {
        color: rgba(25, 185, 207, 1);
    }
}

/*.user .tc_wrap, .pictures .tc_wrap  {
    margin-top: -65px;
}*/


.tag_show, .user_show {
    display: inline-block;
    h2 {
        margin-bottom: 5px;
    }
}

.sort_by, .view_show {
    font-size: 18px;
    display: inline-block;
    margin-top: 0;
    list-style-type: none;
    #selected {
        a {
            text-decoration: underline;
        }
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-right: 20px
        }
    }
}

.date {
    font-size: 12px;
}

ul.sort_by.date {
    margin-top: 0px;
}

/**********
******Pictures
**********/

.pictures {
    margin-top: 10px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.single_picture {
  position: relative;
  display: inline-block;
  margin: 1px 0px;
  background-color: #bbb;
  border: thin solid black;
  border-radius: 3px;
  max-width: 24%;
  @media(max-width:767px){ max-width: 99%;}
  img {
    max-width: 100%;
    max-height: 100%;
  }
}


/**********
******MISC
**********/

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(25, 185, 207, 0.5);
    /*box-shadow: 0 1px 1px rgba(25, 185, 207, 0.5);*/
    outline: 0 none;
}

.navbar {
    min-height: 55px;
    &:hover{
        text-decoration: none;
    }
}

ul.nav.navbar-nav {
  margin-top: 2px;
}

.navbar-header {
  img#header{
    margin-top: -12px;
  } 
  img#footer{
    height: 45px;
    margin-top: -12px;

  } 
}
nav.footer {
    min-height: 50px;
}


a.navbar-brand, .logo{
    font-family: "Exo-ThinItalic";
    letter-spacing: 1.5px;
    font-size: 40px;
    color: rgba(25, 185, 207, 1) !important;
}

.navbar-static-top, nav.footer {
    background-color: rgba(255,255,255,.8);   
}


.alert-notice {
    margin-bottom: 1px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .pagination {
    /*display: block;*/
    padding: 5px;
    background-color: rgba(248,248,248,.6);
 }

.footer {
    margin-bottom: 0;
 }

 tbody.files {
    img {
        max-width: 150px;
    }
 }

 div.row.fileupload-buttonbar {
    margin-top: 11px;
    margin-left: 5px;
 }

 form#fileupload.new_picture {
    height: 1px;
 }

 table.table.table-striped {
    background-color: white;
    margin-top: -13px;
    box-shadow: 0px 3px 3px rgba(25, 185, 207, .5);
    position: absolute;
    top: 68px;
 }

 .delete p { /*delete button on picture*/
    margin-left: 5px;
 }


/*$link-main: rgba(249, 38, 114, 1);*/ /*redish pink*/
/*$link-main: rgba(25, 185, 207, 1);
$bluey: rgba(25, 185, 207, 1);
$new-topic-links: rgba(252, 181, 10, 1);
$wrapper-background: rgba(100, 100, 100, 1); 
$topic-background:  rgba(255, 255, 255, 0.0980392);*/ /*lighter gray*/
/*$new-topic-links: rgba(166, 226, 46, 1);*/

/*typeahead*/

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 300px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.searcher button {
    display: none;
}

#modalbak{
  position:fixed; 
  top:0; 
  left:0; 
  width:100%;  
  height:100%;  
  background:rgba(58, 58, 58, 1); 
  display:none; 
  opacity:0.90; 
  z-index:9;
}
#modalwin{
  position:fixed; 
  top:0; 
  left:0; 
  width:700px; 
  /*height:100px; */
  background:rgba(255, 255, 255, 0.9);
  display:none; 
  padding:32px; 
  border:3px double #CCC; 
  z-index:10;
  -moz-border-radius:6px;
  -webkit-border-radius:6px; 
  -moz-box-shadow:3px 3px 6px #666;
  -webkit-box-shadow:3px 3px 6px #666; 
}
#modalmsg{ 
  text-align:center; 
  /* Add more style to your message */
}



