// Place all the styles related to the Followed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.followed_items {
    width: 100%;
    h5 {
        display: inline;
    }
    ul {
        list-style: none;
        padding: 0;
        display: inline;
    }
    li {
        display: inline;
    }
}