// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.pop {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 2px;
	display: none;
	background-color: rgba(200,200,200,0.7);
	.row {
		margin: 0;
		color: rgba(20,20,20,0.7);
		a {color: rgba(20,20,20,0.7); text-decoration: underline;}
	}
	p.title {
		font-size: 18px;
		text-align: center;
	}
}

div.username {
	font-size: 20px;
	padding: 0;
	p {
		margin: 0;
		text-align: center;
	}
}

.voters {
	margin: 0;
	padding: 2px;
	min-width: 65px;
	.upvote, .downvote{
		width: 20px;
		height: 20px;
	}
	i {
		font-size: 30px;
		color: white;
	}	
	i:hover {
		cursor: pointer;
	}
	i.selected, i:hover {
		color: rgba(25, 185, 207, 1);
	}
}

div#cboxTitle {
	margin-bottom: -8px;
	font-size: 25px;
	.fa.selected {
		color: rgba(25, 185, 207, 1);
	}
	.fa {
		color: rgba(0, 0, 0, 0.5);;
	}
}

.tag_cloud{
		.s {font-size: 11px;}
		.sm {font-size: 14px;}
		.m {font-size: 18px;}
		.ml {font-size: 23px;}
		.l {font-size: 30px;}
}

