// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.following, .sort_by {
	text-align: center;
	p {
		margin-bottom: 2px;
	}
}