<% if @vote == "1" %>
	$('.pic_<%= @picture.id %>').html("<%= escape_javascript(render('pictures/upvote', :picture => @picture)) %>")
	$('div#cboxTitle').html("<%= escape_javascript(render('pictures/upvote', :picture => @picture)) %>")
<% else %>
	$('.pic_<%= @picture.id %>').html("<%= escape_javascript(render('pictures/downvote', :picture => @picture)) %>")
	$('div#cboxTitle').html("<%= escape_javascript(render('pictures/downvote', :picture => @picture)) %>")
<% end %>	