

<nav class="navbar navbar-default navbar-static-top footer" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<%= link_to image_tag("pykture.png", :id => "footer"), root_path, :class => "navbar-brand", :id => "logo" %>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%# link_to "about", about_path %></li>
        <li><%# link_to "blog", blog_path %></li>
        <li><%# link_to "legal", legal_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
	</div>
</nav>