<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href='<%= image_path("pykture_solo.png") %>'>
  <title>pykture</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<a href="#" data-dismiss="alert" class="close">x</a>
			<ul>
				<li>
					<%= value %>
				</li>
			</ul>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
	  setTimeout(function(){
	    $('.alert').slideUp();
	  }, 2500);
	 })
	</script>
<% end %>

<%= render 'layouts/header' %>
<div class="layer">
	<%= yield %>
<div class="push"></div>
</div>
<%= render 'layouts/footer' %>
<%# debug(params) if Rails.env.development? %>
<%= javascript_tag do %>
	window.background_picture = <%= raw(@background_picture.to_json) %>
<% end %>
<%= render 'shared/vote_modal' %>
</body>
</html>
